trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  azureServiceConnection: 'azure-learning-connection'
  appName: 'java-learning-app-pavan'

stages:
- stage: Build
  jobs:
  - job: BuildJob
    steps:
    - task: Maven@3
      inputs:
        mavenPomFile: 'azure-demo/pom.xml'
        goals: 'clean package'
        publishJUnitResults: false

    - publish: azure-demo/target
      artifact: drop

- stage: Deploy
  dependsOn: Build
  jobs:
  - deployment: DeployJob
    environment: 'production'
    strategy:
      runOnce:
        deploy:
          steps:
          - download: current
            artifact: drop

          - task: AzureWebApp@1
            inputs:
              azureSubscription: $(azureServiceConnection)
              appName: $(appName)
              package: '$(Pipeline.Workspace)/drop/*.jar'
